/** BUTTON
----------------------------------------- */

button {
    min-width: 75px;
    min-height: 32px;
    padding: 0 1rem;
    -webkit-font-smoothing: antialiased;
    border: 1px solid #003c74;
    background: linear-gradient(180deg, #fff, #ecebe5 86%, #d8d0c4);
    border-radius: var(--radius);
    cursor: pointer;
}

button:not(:disabled):hover {
    box-shadow: inset -1px 1px #fff0cf, inset 1px 2px #fdd889, inset -2px 2px #fbc761, inset 2px -2px #e5a01a;
}

button:not(:disabled).active,
button:not(:disabled):active {
    box-shadow: none;
    background: linear-gradient(180deg, #cdcac3, #e3e3db 8%, #e5e5de 94%, #f2f2f1);
}

button.focused,
button:focus {
    box-shadow: inset -1px 1px #cee7ff, inset 1px 2px #98b8ea, inset -2px 2px #bcd4f6, inset 1px -1px #89ade4, inset 2px -2px #89ade4;
    outline: 1px dotted #000;
    outline-offset: -4px;
}

button.btn-flat {
    color: var(--color-3);
    background: none;
    box-shadow: none;
    border: 1px solid var(--white-3);
}

.control {
    display: flex;
    grid-gap: .5rem;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem 0 0 0;
    padding: 1rem 0;
}

.control.border {
    border-top: 1px solid var(--white-4);
}

.control.between {
    justify-content: space-between;
}

.control.right {
    justify-content: flex-end;
}