/* RADIO    ----------------------- BEGIN */
input[type=radio] {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
    background: 0;
    position: fixed;
    opacity: 0;
    border: none;
    border: 1px solid #fff;
    border-radius: 2px;
    box-shadow: inset -3px 0 #bad1fc,
        inset 1px 1px #b7caf5;
}

input[type=radio]+label {
    line-height: 16px;
    position: relative;
    margin-left: 20px;
    padding-left: .3rem;
    cursor: pointer;
}

input[type=radio]+label:before {
    content: "";
    position: absolute;
    top: 0;
    left: -19px;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 6px;
    border: 1px solid #1d5281;
    border-radius: var(--radius-50);
    background: linear-gradient(135deg, #dcdcd7, #fff);
}

input[type=radio]:not([disabled]):not(:active)+label:hover:before {
    box-shadow: inset -1px -1px #f8b636, inset 2px 2px #fedf9c;
}

input[type=radio]:checked+label:after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    top: 5px;
    left: -14px;
    position: absolute;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -0.5 5 5' shape-rendering='crispEdges'%3E%3Cpath stroke='%23a9dca6' d='M1 0h1M0 1h1'/%3E%3Cpath stroke='%234dbf4a' d='M2 0h1M0 2h1'/%3E%3Cpath stroke='%23a0d29e' d='M3 0h1M0 3h1'/%3E%3Cpath stroke='%2355d551' d='M1 1h1'/%3E%3Cpath stroke='%2343c33f' d='M2 1h1'/%3E%3Cpath stroke='%2329a826' d='M3 1h1'/%3E%3Cpath stroke='%239acc98' d='M4 1h1M1 4h1'/%3E%3Cpath stroke='%2342c33f' d='M1 2h1'/%3E%3Cpath stroke='%2338b935' d='M2 2h1'/%3E%3Cpath stroke='%2321a121' d='M3 2h1'/%3E%3Cpath stroke='%23269623' d='M4 2h1'/%3E%3Cpath stroke='%232aa827' d='M1 3h1'/%3E%3Cpath stroke='%2322a220' d='M2 3h1'/%3E%3Cpath stroke='%23139210' d='M3 3h1'/%3E%3Cpath stroke='%2398c897' d='M4 3h1'/%3E%3Cpath stroke='%23249624' d='M2 4h1'/%3E%3Cpath stroke='%2398c997' d='M3 4h1'/%3E%3C/svg%3E");
}