/* TABLE -------------------------------- BEGIN */
table,
thead,
tbody,
tfoot,
tr,
th,
td {
    height: auto;
    margin: 0;
    border: none;
    border-collapse: inherit;
    border-spacing: 0;
    border-color: inherit;
    text-align: left;
    font-weight: inherit;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
}

table {
    width: 100%;
    border: 1px solid var(--color-2);
    padding: 0 1rem;
    background: var(--white-1);
    border-radius: var(--radius);
}

table td,
table th {
    border: none;
    padding: .5rem .5rem .5rem 0;
}

table.border {
    padding: 0;
}

table th {
    font-weight: bold;
    background: var(--white);
}

table.border th:first-child,
table.border td:first-child {
    padding: 0 0 0 1rem;
}

table.border th:last-child,
table.border td:last-child {
    padding: 0 1rem 0 0;
}

table.border th {
    border-bottom: 1px solid var(--color-2);
}

table.border td {
    border-bottom: 1px solid var(--white-4);
}

table.border tr:last-child td {
    border: none;
}

table i.material-icons {
    font-size: 1.3rem;
    color: var(--white-4);
    cursor: pointer;
}

table i.material-icons:hover {
    color: var(--black);
}