/*  ---------------------------------------------
        CHAT 
    --------------------------------------------
*/


.chat-loader {
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -100px;
}

.chat-loader.hide {
    display: none;
}


/* USER DATA --------------------------------- BEGIN*/
.chat-userdata img {
    width: 32px;
    height: 32px;
    border-radius: var(--radius-5);
    margin: 0 0.5rem 0 0;
}

.chat-userdata {
    display: flex;
    justify-content: space-between;
    background: var(--color1);
    color: #ffffff;
    font-weight: 300;
    font-size: 1.1rem;
    align-items: center;
    padding: 0.5rem;
    height: calc(32px + 1rem);
    z-index: 10;
    width: 100%;
}

.chat-userdata span {
    display: block;
    width: 100%;
}

.chat-userdata button,
.chat-sendform button {
    background: none;
    color: var(--light-7);
    border: none;
    box-shadow: none;
    display: flex;
}

.chat-userdata button:hover,
.chat-sendform button:hover {
    color: var(--white);
}

.chat-userdata button i {
    margin: 0;
}

/* USER DATA --------------------------------- END*/

.chat-info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    margin: 40px 0;
    clear: both;
    transform: translateY(30px);
    z-index: 0;
    font-weight: 700;
    line-height: 1.5rem;
}

.chat-sendform {
    position: relative;
    padding: 0.2rem 0;
    width: 100%;
    background: var(--color1);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-sendform #chat-text {
    border: 0;
    padding: .5rem 0;
    width: 100%;
    max-height: 160px;
    min-height: 36px;
    overflow-x: hidden;
    overflow-y: auto;
}


.chat-sendform button i.fal {
    font-size: 1rem;
    text-align: center;
    color: #fff9c4;
}

/* --------------------------------------------- MSG --------- BGIN */
.chat-content {
    width: 100%;
    position: relative;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 0;
    padding: 1rem;
    height: 100%;
}

.chat-msg {
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    height: 100%;
    width: 100%;
}

.chat-msg div.chat-emsg {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    padding: 1rem;
    margin: 0 auto 0 0;
    max-width: 90%;
    min-width: 120px;
    width: max-content;
    transition: 0.2s 0s cubic-bezier(0, 1.5, 1, 1.5);
    transform: translateX(293px) scale(0);
    opacity: 0;
    border-radius: var(--radius-1);
    background: var(--color2);
    color: var(--white);
}

.chat-msg div.chat-emsg.you {
    transform: translateX(-293px) scale(0);
    margin: 0 0 0 auto;
    background: var(--light-4);
    background: none;
    color: var(--color2);
}

.chat-msg div.chat-emsg.on {
    transform: none;
    opacity: 1;
}

.chat-emsg img {
    float: right;
    width: 40px;
    border-radius: 4px;
    margin: 0;
}

.chat-msg div.chat-emsg date {
    display: inline-block;
}

.chat-text i {
    font-weight: 300;
}

.chat-text b {
    font-weight: 900;
}

.chat-text s {
    opacity: 0.3;
}

.chat-text s::before {
    content: '(';
}

.chat-text s::after {
    content: ')';
}

/* ---------------- Background MArketing --------------- */
.chat-bgmsg {
    position: relative;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 4px 10px;
    width: fit-content;
    min-height: 34px;
    background: #111;
    color: #9e9e9e;
    float: left;
    clear: both;
    margin: 38px 20px;
    max-width: calc(100% - 40px);
    z-index: 3;
}

.chat-bgmsg h4 {
    margin: 0;
    font-size: 2rem;
    color: #ff6f00;
}

.chat-msg-header {
    font-size: .5rem;
    text-align: right;
    margin: .3rem 0 -.5rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.chat-msg-header i {
    font-size: 1rem;
    margin: 0;
}

.you .chat-msg-header i {}

.chat-msg-header i.on {
    color: #9c27b0;
}

/* ------------------ EMOJIS ---------------------- */
.chat-emojis {
    font-size: 1.5rem;
    text-align: center;
    padding: .5rem .5rem 3rem;
    position: absolute;
    bottom: -00px;
    opacity: 0;
    right: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    transition: 0.2s;
    background: rgba(244, 67, 54, 0.6);
    z-index: -1;
    cursor: pointer;
}

.chat-emojis.on {
    bottom: 0;
    opacity: 1;
    z-index: 200;
}

.chat-emojis i {
    position: absolute;
    left: 50%;
    bottom: .7rem;
    border-radius: var(--radius-5);
    cursor: pointer;
}

.chat-emojis span:hover {
    background: #f44336;
}

.chat-emsg .emojis-one {
    display: flex;
    margin: -1rem 0 0 0;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
}


.chat-content .separator {
    position: relative;
    clear: both;
    float: left;
    width: calc(100% - 64px);
    border: none;
    border-bottom: 1px solid #607d8b59;
    padding: 0;
    margin: 25px 32px;
}

.chat-final {
    position: relative;
    text-align: center;
    width: 100%;
    padding: 12px 0;
    margin: 0 0 -25px 0;
    color: #000;
    background: url(../img/f.png) 20% bottom no-repeat;
}

@media screen and (max-width: 600px) {

    .chat-msg,
    .chat-sendform {
        left: 0;
        right: 0;
        max-width: 100%;
    }
}