/* COMPONENTS ---------------------------- */
@import url(./part/button.css);
@import url(./part/checkbox.css);
@import url(./part/radio.css);
@import url(./part/range.css);
@import url(./part/scrollbar.css);
@import url(./part/select.css);
@import url(./part/statusbar.css);
@import url(./part/table.css);
@import url(./part/treeview.css);


*,
*:before,
*:after {
    outline: none;
    box-sizing: border-box;
    /* -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none; */
}

html,
body,
button,
input,
select,
label,
table,
textarea {
    font-size: 14px;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", system-ui, Roboto,
        "Helvetica Neue", Ubuntu, Tahoma, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
}

html,
body {
    height: 100%;
    overflow: hidden;
    background-size: cover;
    /* background: var(--white-2); */
    color: var(--text);
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    min-width: 100%;
}

hr {
    clear: both;
}

sup {
    margin: -0.2rem 0.1rem 0 0;
    font-size: 0.7rem;
}

/* PAGES -------------------------------- */

.container {
    width: 100%;
    min-width: 330px;
    max-width: 768px;
    margin: 0;
    padding: 0 1rem 1rem 1rem;
}

.page {
    position: relative;
    overflow: auto;
    width: 100vw;
    height: 100vh;
    margin: 0 0 1.2rem 0;
    background: var(--white-2);
}

/* Utils
------------------------------------------------- */
.hide {
    opacity: 0;
    display: none;
    visibility: hidden;
}

.loader {
    animation: rotating .5s linear infinite;
}

.pulse {
    animation: pulse 1s infinite;
}

/** FORM
----------------------------------------- */
input,
label,
option,
select,
textarea {
    -webkit-font-smoothing: antialiased;
}

input,
textarea {
    border: 1px solid var(--white-4);
    border-radius: var(--radius);
    padding: .3rem .5rem;
}

textarea {
    width: 100%;
}

label {
    display: inline-flex;
    align-items: center;
}

fieldset {
    padding: 10px;
    padding-block-start: 8px;
    margin: 0;
    box-shadow: none;
    background: var(--white);
    border: 1px solid var(--white-3);
    border-radius: var(--radius);
}

legend {
    background: transparent;
    color: var(--color-7);
}